body {
    background-color: lightgreen;
    margin: 0;
    font-family: arial,sans-serif;;
}

#header{
  width:96%;
  height: 10%;
  background-color: #333;
  box-shadow: 0px 4px 2px #333;
}

#header>h1{
  width:96%;
  margin: 0 auto;
  color:green;
  padding:12px;
}

#chat_container{
  width: 96%;
  height: 70%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: lightblue;
  border: 1px solid #333;
  /*overflow-y: scroll;*/
}

#controls{
  width: 96%;
  margin: 0 auto;
}

#controls>label{
  color: blue;
}

textarea{
  resize: none;
  width: 96%;
  background-color: lightblue;
  color: green;
  font-family: arial;
}

#send_button{
  font-size: 28.2px;
  position: absolute;
  height: 50px;
}

#myForm{
  width: 96%;
  transform: translateX(20px);
}

.username{
  color: green;
  font-weight: bold;
}

.msgln {
  margin:0 0 2px 0;
}

input[type=text] {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  word-break: break-word;
  color: green;
  font-family: arial;
}

input[type=submit] {
  width: 100px;
  height: 50px;
  font-size: 30px;
  position: absolute;
}

.hide {
    position:absolute;
    top:-1px;
    left:-1px;
    width:1px;
    height:1px;
}

#list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
}
